.QuestionsList {
    padding: 0;
    list-style-type: none;
}

.QuestionsList li {
    font-size: x-large;
    padding: 8px 5px;
    border-bottom: 1px solid #666;
}

.QuestionsList button {
    font-size: x-large;
    border: 0;
    background-color: red;
    color: white;
    float: right;
}
